<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form action="" class="form-horizontal" id="group_form" method="post">
            <input type="hidden" id="_method" name="_method" value="POST">
            <input type="hidden" id="id" name="id">
            <div class="form-group">
                <label for="name" class="col-md-4">Name</label>
                <div class="col-md-8">
                    <input id="name" name="name" type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-md-4">Description</label>
                <div class="col-md-8">
                    <input id="description" name="description" type="text" class="form-control input-sm">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4">Permission</label>
                <div class="col-md-8">
                    <select id="permissions" name="permissions[]" class="selectpicker form-control input-sm" multiple="true">
                        {% for category, permGroup in permissions  %}
                            {% if category is not empty %}<optgroup label="{{category}}">{% endif %}
                                {% for perm in permGroup %}
                                    <option value="{{perm.name}}">{{perm.description}}</option>
                                {% endfor %}
                            {% if category is empty %}</optgroup>{% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button id="btn-save" class="btn btn-sm btn-primary pull-right">Save</button>
                    <button id="btn-cancel" class="btn btn-sm btn-danger pull-right" style="margin-right: 5px" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>