<div class="modal fade" id="company_show_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Company Information
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="" id="company_logo_field" style="width:100%; max-width: 250px">
                    </div>
                    <div class="col-md-8">
                        {#<div class="row">
                            <label for="id_show_field" class="col-md-4">id</label>
                            <div class="col-md-8" id="id_show_field"></div>
                        </div>#}
                        <div class="row">
                            <label for="name_show_field" class="col-md-4">Company Name</label>
                            <div class="col-md-8" id="name_show_field"></div>
                        </div>
                        {#<div class="row">
                            <label for="logo_show_field" class="col-md-4">logo</label>
                            <div class="col-md-8" id="logo_show_field"></div>
                        </div>#}
                        <div class="row">
                            <label for="address_show_field" class="col-md-4">Address</label>
                            <div class="col-md-8" id="address_show_field"></div>
                        </div>
                        <div class="row">
                            <label for="address_show_field" class="col-md-4">Additional Address</label>
                            <div class="col-md-8" id="address_additional_show_field"></div>
                        </div>
                        <div class="row">
                            <label for="state_show_field" class="col-md-4">City</label>
                            <div class="col-md-8" id="city_show_field"></div>
                        </div>
                        <div class="row">
                            <label for="state_show_field" class="col-md-4">State</label>
                            <div class="col-md-8" id="state_show_field"></div>
                        </div>
                        <div class="row">
                            <label for="country_show_field" class="col-md-4">Country</label>
                            <div class="col-md-8" id="country_show_field"></div>
                        </div>
                        <div class="row">
                            <label for="phone_show_field" class="col-md-4">Phone Number</label>
                            <div class="col-md-8" id="phone_show_field"></div>
                        </div>
                        <div class="row">
                            <label for="fax_show_field" class="col-md-4">Fax Number</label>
                            <div class="col-md-8" id="fax_show_field"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>